@import url('https://fonts.googleapis.com/css?family=Poppins');
body { 
    margin: 0;
    padding: 0;
    width: 375px;
    background-color: #f2f2f9;
  }
  .toolbar {
    background-color: white;
    height: 48px;
    top: 44px;
    padding: 4px 24px 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .Headline {
    background-image: url(WhatsApp\ Img.jpg);
    background-repeat: no-repeat;
    height: 590px;
    padding-top: 40px;
    background-color: white;
    border-bottom-left-radius: 90px;
  }
  .logo-placeholder {
    width: 100px;
    height: 40px;
    top: 4px;
    left: 12px;
    padding: 10px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo-text {
    width: 76px;
    height: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0;
    color: #6070ff;
  }
  .button {
    width: 40px;
    height: 40px;
    top: 4px;
    left: 311px;
    padding: 8px;
    border-radius: 8px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .button img {
    width: 24px;
    height: 24px;
    padding: 6px 3px;
  }
  .text1 {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    font-weight: 800;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    color: #172b4d;
    padding-left: 24px;
  }
  .text2 {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    margin-top: -20px;
    padding-left: 24px;
    color: #344563;
  }
  .socialmedia {
    width: 117px;
    height: auto;
    display: flex;
    gap: 16px;
    padding-left: 24px;
  }
  .social-media-icons {
    width: 170.17px;
    height: 20px;
    margin-top: -5px;
  }
  .supporting-txt p {
    color: #7f8cff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}
/*Section 2*/
.worksection{
    display: grid;
    grid-template-rows: 20%, 200%;
    background-color: #f2f2f9;  
    width: 375px;
    height: 1,062.15px;
    top: 3506px;
    padding: 114px, 24px, 114px, 24px;
    gap: 24px;
}

.card1 {
    margin-top: 100px;
    height: 550px;
    padding: 16px;
    margin-left: 25px;
    border-radius: 26px;
    width: 300px;
    border: 1px solid #dfe1e6;
    gap: 12px;
    background:
    linear-gradient(0deg, #fff, #fff),
    linear-gradient(0deg, #dfe1e6, #dfe1e6);
}

.text3 .h1 {
    color: #172b4d;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 44px;
    word-wrap: break-word;
    margin-top: 15px;
}

.text3 .img1 {
    margin-top: -40px;
}

.text3 .p {
    margin-top: -2px;
    color: #344563;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.text3 .img3 {
    margin-top: 40px;
}

.card2 {
    margin-top: 90px;
    height: 630px;
    padding: 16px;
    margin-left: 25px;
    border-radius: 26px;
    width: 300px;
    border: 1px solid #dfe1e6;
    gap: 12px;
    background: white
}

.card2 .h1 {
    color: #172b4d;
    font-size: 32px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 44px;
    word-wrap: break-word;
    margin-top: 15px;
}

.text4 .p {
    color: #344563;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word;
}

.text4 .img3 {
    margin-top: 40px;
}

.card3 {
    margin-top: 90px;
    height: 550px;
    padding: 16px;
    margin-left: 25px;
    border-radius: 26px;
    width: 300px;
    border: 1px solid #dfe1e6;
    gap: 12px;
    background: #fff;
}

/*About me section*/
.textaboutme {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.Ptext {
    height: 147px;
}

.about-myself{
    margin-top: 90px;
    height: 1060px;
    width: 300px;
    padding: 16px;
    margin-left: 25px;
    gap: 12px;
    border-top-right-radius: 60px;
    border: 1px solid #dfe1e6;
    background-color: #fff;
}

.textaboutme h1{
    margin-top: 80px;
    color: #172b4d;
    font-size: 35px;
    font-weight: 700;
    padding-left: 4px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 52px;
    word-wrap: break-word;
}

.Ptext p {
    margin-top: -20px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    padding-left: 4px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
    margin-right: 5px;
}
.social-media2 {
    width: 117px;
    height: auto;
    display: flex;
    padding-left: 4px;
}

.supporting-text2 h1 {
    color: #7f8cff;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.supporting-text2 .img {
    margin-top: 10px;
    padding-left: 4px;
}

.supporting-text2 .img2 {
    margin-top: 20px;
    padding-left: 4px;
}

.language h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #000000;
    display: inline-flex;
    align-items: center;
    margin-left: 10px;
    margin-top:40px;
}

.language .down {
    margin-left: 125px;
    vertical-align: middle;
    margin-top: -10px;
}

.languages {
    display: flex;
    width: 275px;
    flex-direction: column;
    align-items: center;
    padding: 9px;
}

.languages .jslogo {
    margin-top: 20px;
}

.languages .htmllogo {
    margin-top: 6px;
}

.languages .csslogo {
    margin-top: 6px;
}

.framework {
    display: inline-flex;
    width: 327px;
}

.framework h1 {
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.framework .right{
    margin-left: 135px;
    vertical-align: middle;
    height: 25px;
    margin-top: 20px;
}

.skills {
    display: inline-flex;
    width: 327px;
}

.skills h1 {
    color: black;
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word;
}

.skills .right {
    margin-left: 198px;
    vertical-align: middle;
    height: 25px;
    margin-top: 11px;
}

.supporting-text2 .separator {
    width: 290px;
    height: 2px; 
}

.supporting-text2 .separator2 {
    width: 290px;
    height: 2px; 
}

.contactme {
    width: 375px;
    height: 779px;
    margin-top: 200x;
    background-image: url('Contact\ me.png');
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 45px;
}

.contactme h2 {
    color: white;
    font-size: 40px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 52px;
    word-wrap: break-word;
    text-align: center;
    padding-top: 0px;
    margin-top: -30px;
}

.contactme p {
    color: #ebebff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}

.contact form {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.contactme form input {
    font-family: 'Poppins', sans-serif;
    border-radius: 8px;
    border: 1px solid white;
    background: white;
    width: 327px;
    height: 48px;
    margin-left: 24px;
    margin-top: 13px;
}

.contactme form textarea {
    font-family: 'Poppins', sans-serif;
    width: 327px;
    height: 170px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid white;
    background: white;
    margin-left: 24px;
    margin-top: 13px;
}

.contactme form input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 117.647% */
    padding-left: 10px;
    color: #999;
}

.contactme form textarea::placeholder {
    font-size: 15px;
    padding-top: 10px;
    padding-left: 10px;
    color: #999;
}

.contactme form button {
    height: 48px;
    width: 142px;
    color: #6070ff;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 141.176% */
    letter-spacing: 0.51px;
    border-radius: 8px;
    border: #fff;
    margin-left: -310px;
    background-color: white;
    margin-top: 0px;
}

.contact form  button:hover {
    background-color: #7a869a;
}

.contactme .circle {
    margin-top: -10px;
    margin-left: 152px;
}

.contactme .ellipse {
    margin-top: -43px;
    margin-left: 328px;
}

.contactme .rectangle {
    margin-top: 50px;
    margin-left: 310px;
}

.contactme form .rectangle2 {
    margin-left: 260px;
    margin-top: -5px;
}

.contactme form .circle2 {
    margin-left : 85px;
}

